* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}

body {
  font-family: "Cardo", serif;
  color: rgb(60, 60, 60);
  background-color: rgb(253, 249, 244);
}

.App__header {
  margin: 0px 0px -10px 0px;
  padding: 2% 3%;
  background-color: rgb(68, 68, 68);
  color: rgb(253, 249, 244);
  text-align: right;
}

.App__header--instruction {
  text-align: left;
  font-size: 1.5rem;
}

.App__header--instruction-phonetic {
  font-size: 2rem;
  line-height: 4rem;
}

.App__header--logo {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 0.45rem;
}

.App__header--subtitle {
  font-size: 1.5rem;
  color: rgb(216, 213, 209);
}

.App__footer {
  padding: 2% 2%;
  text-align: center;
  background-color: rgb(68, 68, 68);
  color: rgb(253, 249, 244);
}

.App__footer--logo {
  display: block;
  margin: auto;
  padding-top: 0.5%;
  align-content: center;
  max-width: 40px;
  transition: 200ms all ease-in-out;
}

.App__footer--logo:hover {
  transform: rotateY(180deg);
}

.App__footer--English-link {
  text-decoration: none;
  color: white;
  transition: 100ms all ease-in-out;
}

.App__footer--English-link:hover {
  font-weight: 700;
  color:rgb(253, 249, 244);
  cursor: pointer;
}

@media (max-width: 570px) {
  body {
    margin: auto;
  }

  .App__header {
    text-align: center;
  }

  .App__header--instruction{
    text-align: center;
    line-height: 5rem;
  }

  .App__header--logo {
    font-size: 2rem;
  }

  .App__header--subtitle {
    font-size: 1.1rem;
  }
}