* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2% 3%;
  font-family: "Cardo", serif;
  color: rgb(60, 60, 60);
  background-color: rgb(253, 249, 244);
}

.App__header {
  padding: 2% 0% 5% 0%;
}

.App__header--logo {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  text-align: left;
}

.App__header--subtitle {
  font-size: 1.5rem;
  color: rgb(103, 103, 103);
}

.App__footer {
  padding-top: 5%;
  text-align: center;
}

.App__footer--logo {
  display: block;
  margin: auto;
  padding-top: 1%;
  align-content: center;
  max-width: 20px;
}
